<div class="container">
	<div class="col-sm-4 col-sm-offset-2">
		<img src="http://placehold.it/300x300" alt="">
	</div>
	<div class="col-sm-4">
		<div>
			<h1><%= @city.name %></h1>
		</div>
	<br>
		<div>
			<h3><%= @post.title %></h3>
		</div>
	<br>
		<div>
			<h5><%= @post.content %></h5>
		</div>
	</div>
</div>