<style>
.jumbotron {
	background: url(<%= @san_fran.img_url %>);
	color: white;
}
</style>

<div class="jumbotron">
<h1>Vagabundo</h1>
</div>
<div class="container">
<div class="row">
<% @cities.each do |city| %>
 <div class="col-xs-4 col-md-4 city-boxes">
   <a href="/cities/<%= city.id %>" class="thumbnail cities-thumbnail" style="background: url(<%= city.img_url %>); background-size: auto 180px;">
   	<div class="city-name"><%= city.name %></div>
   </a>
 </div>
<% end %> 
 </div>
 </div>
