<div class="jumbotron">
  <h1>VAGABUNDO POR EL MUNDO</h1>
</div>

<div class="row">
<% @cities.each do |city| %>
 <div class="col-xs-4 col-md-4">
   <a href="/cities/<%= city.id %>" class="thumbnail">
   <%= city.name %>
     <img src="..." alt="...">
   </a>
 </div>
<% end %> 
 </div>