// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron {
	height: 500px;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	text-align: right;
	position: relative;
}
.jumbotron h1 {
	margin-right: 150px;
	margin-top: 0px;
}
.cities-thumbnail  {
	height: 180px;
	color: white;
	font-size: 38px;
	padding-left: 30px;
	margin-bottom: 0px !important;
}

:hover .cities-thumbnail {
	text-decoration: none;
}
.city-boxes {
	padding-left: 0px !important;
	padding-right: 0px !important;
	border-radius: 0px !important;
}
.city-name {
	margin-left: 20px;
}