// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sign-up-form {
	margin-top: 65px;
}

#edit-form {
	margin-top: 80px;
}

#profile-details {
	margin-top: 20px;
}

#profile-img {
	padding-right: 0px;
}

#user-description {
	margin-top: 0px;
	padding-left: 15px;
}

#user-name {
	margin-top: 5px;
}

h3 {
	margin-top: 0px !important;
}

.text-center {
	margin-bottom: 20px;
}